.content-vote-gray-d {
	font-size:12px;
}
.content-vote-gray-d .mod-vote {
	padding:0 10px 5px;
	overflow:hidden;
	zoom:1;
}
.content-vote-gray-d dl {
	margin:3px 0;
}
.content-vote-gray-d dt {
	line-height:18px;
	padding:5px 0;
	font-size:14px;
	font-weight:bold;
}
.content-vote-gray-d dd {
	padding:5px;
	line-height:18px;
}
.content-vote-gray-d .input-radio {
	margin:-3px 6px 0 0;
}
.content-vote-gray-d label {
	cursor:pointer;
}
.content-vote-shuimo .content-vote-shuimo {
	margin-top:10px 0;
	float:left;
}
.content-vote-gray-d a.result {
	margin-left:10px;
	text-decoration:none;
}
.dd-submit {
	margin-top:10px;
}
