<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>新华丝路数据库 _ 导航页</title>
<meta name="Keywords" content="新华丝路数据库,一带一路,新华丝路,新华社">
<meta name="description" content=" ">
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/base.css">
<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/lefont.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/consultation.css"> 
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script src="{IMG_URL}templates/{TEMPLATE}/js/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
<script>
	catname_top = '咨询';	// 顶级栏目名称
	catname = '{$typesname}';
</script>
<style>
.left730{line-height:30px;}
.tit-talk{display:block;background:url("http://img.db.silkroad.news.cn/templates/silkroad/zn/images/talk.png") no-repeat;width:76px;height:32px;position:absolute;left:180px;top:4px;}
.tit-talk:hover{background-position:0 -32px;}
.zixun-form { position: absolute; left: 100px; top: 40px; background: #FFFFFF; width: 230px; z-index: 99; border: 1px solid #C81623; padding-top: 20px; display: none;}
.zixun-form textarea { resize: none; width: 80%; outline: none; display: block; margin: 0 auto; padding: 5px;font-size:14px;}
.zixun-form-opt { padding: 0 20px; margin: 10px auto; width: 70%;}
.zixun-form-opt span { display: inline-block; background: #9E9E9E; color: #636363; padding: 0 10px; cursor: pointer;}
.zixun-form-opt span.on { background: #C81623; color: #FFFFFF; float: right;}
.zix .hd { z-index: 99;}
.zixun-form-bg { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 99; display: none;}
.more_z_div{text-align: center;margin-top:30px;border:none;}
.more_zixun{background-color:#208acd;width:125px;height:40px;text-align: center;color:#fff;}
</style>
</head>
<body>
 <!-- 顶部 -->
    <!--{template "system/head_zn.html"}-->
<!--#include virtual="/section/277.html"--><!--# 公共区块 公共区块搜索 #-->
 
<div class="container">
	<!-- left -->
	<div class="left730">
		<div class="zix">
			<div class="hd">
				<h3>{$typesname}</h3>
				<a href="javascript:;" target="_self" class="tit-talk">&nbsp;</a>
                <p class="zixun-form-bg"></p>
                <div class="zixun-form">
                    <textarea name="content" id="guest_content" cols="30" rows="8"></textarea>
                   <input type="hidden" name="ip" id="client_ip" value="<?php echo $_SERVER['REMOTE_ADDR']?>" />
                    <div class="zixun-form-opt">
                        <span>取消</span>
                        <span class="on" id="guest_send">发送</span>
                        <i class="clear"></i>
                    </div>
                </div>
			</div>
			<div class="bd">
				<ul class="main-title-list" id="tablelist">
					<!--{loop $data $k $r}--> 
					<li>
						<img src="{UPLOAD_URL}{$r['photo']}" alt="">
						<h3><a href="{SPACE_URL}{$r['alias']}?typeid={$typeid}&spaceid={$r['spaceid']}">{$r['name']}</a></h3>
						<div class="intro">{html_entity_decode(str_natcut($r['description'],50,'...'))}
						<a href="{SPACE_URL}{$r['alias']}?typeid=1">[详情]</a>
						
						<a href="{APP_URL}?app=guestbook&controller=index&action=index&typeid={$typeid}" class="talk">&nbsp;</a>
						
						</div>
						
						<div class="zw" style="height:72px;">
							<!--{if $r['typeid']==1}--> 
							<span class="label">专文：</span>
							 <!--{loop $r['article'] $i $c}--> 
							<a href="{$c['url']}">{$c['title']}</a>
							<!--{/loop}-->
							<!--{/if}--> 
						</div>
						

						<!--{if $r['tags']}--> 
						<div class="tags">标签：<span>{$r['tags']}</span></div>
						<!--{/if}--> 
						<?php 
								$result = in_array($r['spaceid'],$collected);
						 ?>
						<!--{if $result}-->
						<span class="fav on" data-url="{SPACE_URL}{$r['alias']}?typeid={$typeid}&spaceid={$r['spaceid']}"></span>
						<!--{else}--> 
						<span class="fav" data-url="{SPACE_URL}{$r['alias']}?typeid={$typeid}&spaceid={$r['spaceid']}"></span>
						<!--{/if}--> 
					 
					</li> 
					
					<!--{/loop}-->

				</ul>
				<!--{if $typeid==1}-->
				<!-- 分页 -->
					<div class="page">
					 <!--{space_pages($total, $page, $pagesize, 3, null, false, '', 'number red', '&lt;', '&gt;')}-->
					<span>共<i>{$page}/{ceil($total/$pagesize)}</i>页 , <i>{$total}</i>记录</span>
					</div>
				<!-- @end 分页 -->
				<!--{elseif in_array($typeid,array(2,3))}-->
				<div class="more_z_div">
					<button class="more_zixun">更&nbsp;&nbsp;&nbsp;&nbsp;多</button>
				</div>
				<!--{/if}-->
			</div>
		</div>
	</div>
	<!-- right -->
	<div class="right250">
		<div class="item">
			<!--#include virtual="/section/291.html"--><!--# 咨询频道 首席记者 #-->
		</div>
		<div class="item">
			<!--#include virtual="/section/283.html"--><!--# 咨询频道 专家观点 #-->
		</div>
		<div class="item">
			<!--#include virtual="/section/292.html"--><!--# 咨询频道 机构观点 #-->
		</div>
	</div>
	<div class="clearfix"></div>	
</div>
<!--{template "system/foot_zn.html"}-->
<script>
$(function(){ 
	$('.fav').each(function(){
		var fav = $(this).attr('class');
		if(fav == 'fav'){
			$(this).text("收藏");
		}else{
			$(this).text("取消收藏");
		}
	
	})
	
	$(".zix li .fav").click(function(){
		var fav = $(this).attr('class');
		var data_url = $(this).attr("data-url");
		// console.log(data_url);
		var strs= new Array(); //定义一数组 
		strs=data_url.split("?"); //字符分割 
		var memberid = $.cookie(COOKIE_PRE+'userid');
		var strss = strs[1]+'&memberid='+memberid;
		// console.log(strss);
		
		$(this).toggleClass("on");
		var res = $(this).hasClass("on");
		if(!res){
			//ajax请求服务器取消收藏
			$.getJSON(
                    '?app=member&controller=index&action=ajax_not_collect&jsoncallback=?&'+strss,
                    function(data){
                               if(data.status!='success')
                               {
                                      alert('取消失败');
                                      return false;
                               }
                    	}
                    );
       

			$(this).text("收藏");

		}else{
			
			//ajax请求服务器完成收藏
			$.getJSON(
                    '?app=member&controller=index&action=ajax_collect&jsoncallback=?&'+strss,
                    function(data){
                               if(data.status!='success')
                               {
                                      alert('收藏失败');
                                      return false;
                               }
                    	}
                    );
       

			$(this).text("取消收藏")
		}
	});
});
</script>
</body>
</html>
<script type="text/javascript">
    $(".tit-talk").on({
        "click":function () {//咨询弹窗
            $(".zixun-form,.zixun-form-bg").toggle();
        }
    });
    $(".zixun-form-bg,.zixun-form-opt span:eq(0)").on({
        "click":function () {//关闭弹窗
            $(".zixun-form,.zixun-form-bg").hide();
        }
    })

$(function(){
	/*进行窗口咨询提交*/
	var guset_send=$("#guest_send");	/*发送按钮*/
	var typeid="{$typeid}";				/*类型id*/
	var pattern =/[`~!@#$%^&*_+<>?:{}\/;'[\]]/im;
	guset_send.click(function()
	{
		var gcontent=$("#guest_content").val();	/*留言内容*/

		/*提交内容不能为空*/
		if(gcontent==""){
			alert('请输入内容');
			return false;
		}

		/*特殊字符过滤*/
		if(pattern.test(gcontent))
		{
			alert('发送的内容中含有非法字符,请检查后重新发送');
			return false;
		}


		var len=gcontent.length;
		var client_ip=$("#client_ip").val();	/*客户端IP*/

		if(len<4 || len>100)
		{
			alert('输入内容长度请大于3位或小于100位');
			return false;
		}else{
			
			$.getJSON(APP_URL+'?app=guestbook&controller=index&action=zixun_guest&content='+gcontent+"&typeid="+typeid+"&ip="+client_ip,function(dd){
							if(dd.state){
								 $(".zixun-form,.zixun-form-bg").hide();
								 alert(dd.info);
							}
							else
							{
								alert(dd.info);	
							}			
			});
			
		}

	})

	/*点击加载更多，通过ajax请求服务器端获得程序*/
	
	$(".more_zixun").attr("page",1);
	$(".more_zixun").click(function(){
		var page_more=parseInt($(this).attr("page"))+1;
		$(".more_zixun").attr("page",page_more);
		
		$.getJSON(APP_URL+'?app=space&controller=index&action=param_more&typeid='+typeid+'&page='+page_more,function(dd){

			if(dd.state){
				var str="";
				for(var i=0;i<dd.info.length;i++)
				{
				var li='<li>';
					li+='<img src="{UPLOAD_URL}'+dd.info[i]['photo']+'" alt="">';
					li+='<h3><a href="{SPACE_URL}'+dd.info[i]['alias']+'?typeid='+dd.info[i]['typeid']+'&spaceid='+dd.info[i]['spaceid']+'">'+dd.info[i]['name']+'</a></h3>';
					li+='<div class="intro">'+dd.info[i]['description'].substring(0,40);
					li+='<a href="{SPACE_URL}'+dd.info[i]['alias']+'?typeid='+dd.info[i]['typeid']+'">[详情]</a>';
					li+='</div>';
					li+='<div class="zw" style="height:72px;">';
					li+='</div>'			
					li+='<div class="tags">标签：<span>'+dd.info[i]['tags']+'</span></div>';
					li+='<span class="fav" data-url="{SPACE_URL}'+dd.info[i]['alias']+'?typeid={$typeid}&spaceid='+dd.info[i]['spaceid']+'">收藏</span>'; 
					li+='</li>';
					str+=li;
				}

				
				$("#tablelist").append(str);

			}else{
				alert('没有内容了');
			}
		}); /*ajax提交结束*/
	})/*点击更多按钮程序结束*/






})



</script>
<!--新增 End-->


