/*
 @name 紫色菜单样式
 @notes  紫底白字
*/
.content-menu-purple-a {
	background-color:#603E82;
	padding:0px 10px;
}
.content-menu-purple-a a {
	color:#fff;
	font-size:12px;
}
.content-menu-purple-a span.sepr {
	margin:0 4px;
	color:#fff;
	font-size:12px;
}