.container{width:1000px;margin:20px auto;}
.allcountry{}
.allcountry .hd{margin:10px auto;padding:0px;height:40px;border-bottom:solid 2px #dcdcdc;clear:both;position:relative;z-index:1;}
.allcountry .hd h3{left:0px;top:0px;display:inline-block;font-size:24px;font-weight:normal;line-height:40px;text-align:center;height:40px;border-bottom:solid 2px #c81623;padding:0 24px;position:absolute;z-index:3;}
.allcountry .bd{padding:20px;}
.allcountry dl{padding-left:132px;position:relative;border-bottom:1px dashed #d9d9d9;margin-bottom:20px;padding-bottom:10px;}
.allcountry dt{position:absolute;width:116px;height:32px;line-height:40px;text-align:center;background:#e7f2f9;border-radius:2px;font-size:16px;color:#333;left:0;top:0;}
.allcountry dd span{margin-right:20px;display:inline-block;}
.allcountry dd a{color:#0079c6;}
.allcountry dd a:hover{color:#ff6c00;}
.allcountry dd span.disfont a{color:#666;cursor:default;}

/*右侧*/
.item{}
.item .hd{margin:0px auto;padding:0px;height:40px;border-bottom:solid 2px #dcdcdc;clear:both;position:relative;z-index:1;}
.item .hd h3{left:0px;top:0px;display:inline-block;font-size:18px;line-height:40px;text-align:center;height:40px;border-bottom:solid 2px #c81623;padding:0 10px;position:absolute;z-index:3;font-weight:normal;}
.item .bd{padding:20px;}
.img-w208{width:208px;border:1px solid #cccccc;display:block;margin:0 auto 10px;}
.news02{}
.news02 li{height:24px;background:url(../images/dot_list.jpg) no-repeat 0 14px;padding-left:11px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*国别报告*/
.crumbs{line-height:1;padding:25px 0 10px;width:1000px;margin:0 auto;}
.crumbs a{color:#0079c6;}
.crumbs a:hover{color:#ff6c00;}
.w1000{width:1000px;margin:0 auto;background:#fff;box-shadow:2px 3px 3px 0 #e8e8e8;overflow:hidden;}
.w1000 dl{height:38px;border-bottom:1px solid #e8e8e8;padding-bottom:5px;margin-bottom:5px;padding-left:102px;overflow:hidden;}
.w1000 dt{height:38px;font-size:14px;width:86px;}
.w1000 dd{line-height:41px;overflow:hidden;padding-right:120px;position:relative;}
.morebtn{width:62px;height:24px;position:absolute;right:10px;top:8px;background:url(../images/morebtn.png) no-repeat;cursor:pointer;}
.w1000 dd span.on a{color: #e4393c;}
.w1000 dl.all{height:auto;}
.w1000 dl.all .morebtn{background-position:0 -24px;}
.w740{width:740px;margin:0 auto;background:#fff;box-shadow:2px 3px 3px 0 #e8e8e8;overflow:hidden;}
.w740 dl{height:38px;border-bottom:1px solid #e8e8e8;padding-bottom:5px;margin-bottom:5px;padding-left:102px;overflow:hidden;}
.w740 dt{height:38px;font-size:14px;width:86px;}
.w740 dd{line-height:41px;overflow:hidden;padding-right:120px;position:relative;}
.morebtn{width:62px;height:24px;position:absolute;right:10px;top:8px;background:url(images/morebtn.png) no-repeat;cursor:pointer;}
.w740 dd span.on a{color: #e4393c;}
.w740 dl.all{height:auto;}
.w740 dl.all .morebtn{background-position:0 -24px;}
.thereport{width:1000px;margin:20px auto 0;background:#fff;box-shadow:2px 3px 3px 0 #e8e8e8;overflow:hidden;}
.thereport .hd{margin:10px auto;padding:0px;height:40px;border-bottom:solid 2px #dcdcdc;clear:both;position:relative;z-index:1;}
.thereport .hd h3{left:0px;top:0px;display:inline-block;font-size:24px;font-weight:normal;line-height:40px;text-align:center;height:40px;border-bottom:solid 2px #c81623;padding:0 24px;position:absolute;z-index:3;}
.create{position:absolute;right:20px;top:0;height:36px;line-height:36px;padding:0 15px;font-size:18px;background:#ff6c00;border-radius:2px;color:#fff;}
.create:hover{color:#fff;}
.thereport .bd{border:20px solid #fff;background:#f3f3f3;overflow:hidden;}
.introduction{float:left;width:240px;}
.introduction img{width:200px;display:block;margin:20px auto;}
.introduction .title{margin:10px auto;padding:0px;height:40px;border-bottom:solid 2px #dcdcdc;clear:both;position:relative;z-index:1;}
.introduction .title h3{left:0px;top:0px;display:inline-block;font-size:18px;font-weight:normal;line-height:40px;text-align:center;height:40px;border-bottom:solid 2px #c81623;padding:0 10px;position:absolute;z-index:3;color:#333;}
.introduction .content{padding:0 20px 20px;color:#666;}
.box_gjml{float:left;width:680px;padding:0 10px 100px 30px;background:#fff;overflow:hidden;}
.box_gjml_top{}
.box_gjml_tag{}
.box_gjml_tag label{color: #0079c6;font-size: 16px;}
.box_gjml_tag,.box_gjml_tag a{color:#9eaeb6;}
.box_gjml_tag a:hover{color:#0285c6;}
.box_gjml_but{float:right;width:115px;height:38px;line-height:38px;background-color:#fe9400;text-align:center;color:#FFFFFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.box_gjml_but:hover{background-color:#fe6c00;cursor:pointer;}
.gjml_block{margin:0px auto;padding:8px 0px;clear:both;overflow:hidden;}
.gjml_block dl{margin:0px auto;padding:0px;clear:both;overflow:hidden;}
.gjml_block dl dt,.gjml_block dl dd{margin-bottom:8px;overflow:hidden;clear:both;}
.gjml_block dl dt.gjml_dashline,.gjml_block dl dd.gjml_dashline{background:url(../images/dash_line.jpg) left 16px repeat-x;}
.gjml_block dl dt{margin-top:5px;}
.gjml_block dl dd{margin-left:25px;}
.gjml_tagtit{float:left;display:inline-block;color:#0079c6;height:23px;background-color:#ffffff;padding-right:10px;font-size: 16px;}
.gjml_but{float:right;display:inline-block;width:20px;height:20px;margin-top:4px;line-height:18px;background-color:#ffffff;font-size:20px;text-align:center;border:solid 1px #a8d4ed;}
.gjml_but:hover{color:#FFFFFF;background-color:#098bdf;border:solid 1px #098bdf;}
.gjml_but,.gjml_but a{color:#0b8bd6;}
.gjml_tagsubttit{float:left;display:inline-block;color:#445159;height:23px;background-color:#ffffff;padding-right:10px;}
.gjml_tagsub{padding:10px;line-height:23px;font-size:12px;color:#35647b;background-color:#fafafa;border:solid 1px #eeeeee;}