<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IP动态消息</title>
	<!--{template 'ipr/system/header_jscss.html'}-->
</head>
<body>
<!--头部-->
	<!--{template 'ipr/system/header_channel.html'}-->
	<!--{template 'ipr/system/header_search.html'}-->
<div class="column ov mar-t-20">
	<div class="left_menu">
		<ul class="mar-t-10">
			<li class="on"><a target="_blank">知识产权动态信息<em class="icon-jl"></em></a></li>
            <!--{template 'ipr/system/list2.html'}-->
			<!--{template 'ipr/system/list3.html'}-->
			<!--{template 'ipr/system/list4.html'}-->
			<!--{template 'ipr/system/list5.html'}-->
			<!--{template 'ipr/system/list6.html'}-->
			<!--{template 'ipr/system/list7.html'}-->
			<!--{template 'ipr/system/list8.html'}-->
			<!--{template 'ipr/system/list9.html'}-->
			<!--{template 'ipr/system/list9.html'}-->
		</ul>
	</div>
	<div class="right_data">
		<!--IP动态信息-->
		<div class="msg-conts">
			<div class="conts-box">
				<div class="tit-box">
					<h3>第十二届中国会展经济国际合作论坛在宁夏举行</h3>

					<p class="tit-summary mar-t-5">时间：2016年01月14日 09:26　　作者／记者：赵倩　 阅读23次</p>
				</div>
				<p>
					新华社信息银川1月14日电(记者赵倩　王希)第十二届中国会展经济国际合作论坛13日在宁夏银川开幕,来自21个国家和地区的展览企业､行业组织､政府部门和研究机构代表共聚探讨全球会展业发展大计｡</p>

				<p>
					据论坛主办方介绍,本届论坛以“经济新支点,会展新起点”为主题,旨在帮助展览界把握重点产业的发展走向和重点地区的市场机遇,寻找以展会撬动产业和区域经济转型的新支点,在服务国家经济发展大局的同时为会展业自身发展注入新动能｡中国贸促会14日在本届论坛上发布《中国展览经济发展报告2015》｡
				</p>

				<p>
					中国贸促会副会长王锦珍说,经济发展和新技术的广泛运用为中国展览业的发展和国际合作提供了难得的机遇,促进中国由展览大国向展览强国转变,应在把握中外自贸区建设､“互联网+”等国家战略机遇的同时,及时将展览业有效切入国家“一带一路”､京津冀协同发展和长江经济带发展战略,不断放大展览业的功能作用｡
				</p>

				<div class="a_tit mar-t-30">
					<ul>
						<li><a href="" target="_blank">【上一篇】中东能源运输路线风险分析</a></li>
						<li><a href="" target="_blank">【下一篇】菲律宾投融资环境与风险分析（2016版）</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--尾部-->
<!--{template 'system/foot_zn.html'}-->
</body>
</html>