<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <title>首页</title>
<!--     <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/index/style/normalize.css">
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/index/style/newcommon.css"> -->
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/index/style/index.css">
</head>
<body class="f16">
    <div class="index-header">
        <div class="w1000">
            <!--导航-->
            <!--{template 'system/head_zn.html'}-->
            
            <!--搜索-->
            <!--#include virtual="/section/277.html"--><!--# 公共区块 公共区块搜索 #-->
        </div>
    </div>
    <div class="index-mainnav">
        <div class="w1000">
            <ul>
                <!--#include virtual="/section/441.html"--><!--# 中文首页-登录后 中文首页导航-内容上方栏目名 #-->
                <li class="clear"></li>
            </ul>
        </div>
    </div>
    <div class="index-container">
        <div class="w1000">
            <!--#include virtual="/section/440.html"--><!--# 中文首页-登录后 中文首页导航-第一块内容 #-->
            <!--#include virtual="/section/442.html"--><!--# 中文首页-登录后 中文首页导航-第二块内容 #-->
            <!--#include virtual="/section/443.html"--><!--# 中文首页-登录后 中文首页导航-第三块内容 #-->

            <!--柱状图-->
            <!-- <div class="index-item">
                <div class="tit">
                    <div class="txt f-l">资讯-资讯</div>
                    <div class="more f14 f-r"><a href="" target="_self">查看更多……</a></div>
                    <i class="clear"></i>
                </div>
                <div class="con">
                    <div id="charData"></div>
                </div>
            </div> -->
            <!--柱状图结束-->
        </div>
    </div>
    <!--{template 'system/foot_zn.html'}-->
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/index/js//lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/index/js//lib/echarts.min.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/index/js//newcommon.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/index/js//index.js"></script>
</body>
</html>