.widget-yellow-b .diy-inner { background:#F1E6D4;}
.frame-blue-a { border:1px solid #BAD6F1; background:#fff;}
.title-blue-c { overflow: hidden; background:#0078B6; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:9px;}
.title-blue-c,.title-blue-c span{color:#fff;}
.content-list-gray-b ul { padding:8px 10px 0;}
.content-list-gray-b li { line-height:22px; padding-left:8px; background:url("http://img.xh08.cn/apps/special/ui/content/list/gray-b/images/point.gif") no-repeat 0 10px;}
.content-list-gray-b a { font-size:14px; color:#333;}
.content-list-gray-b a:hover{ color:#da2c83;}
.content-list-gray-b .date{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #999999;}
.content-html-font-black-a{ color:#333; padding:5px 9px;}
.content-html-font-black-a p{ line-height:1.8em;}
 .content-palist-gray-a li {padding:8px 6px; border-bottom:1px dotted #ccc;}
 .content-palist-gray-a img {margin:8px 8px 8px 0;}
 .content-palist-gray-a .summary {margin:0; padding:0;}
 .content-palist-gray-a{background-color:#fff;}
 .content-palist-gray-a .imgtxtsummary-list{margin:0 4px;}
 .content-palist-gray-a .imgtxtsummary-list a{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list h3 a{ color:#333; font-size:12px;font-weight:bold;}
 .content-palist-gray-a .imgtxtsummary-list p{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list a:hover{text-decoration:none;color:#c00;}
.widget-blue .diy-inner { border:1px solid #BAD6F1; background:#fff;}
