<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<?php $sitename = explode('&',$SYSTEM[sitename]);?>

<title>{$sitename[0]}_{$SYSTEM[seotitle]}_找回密码</title>
<meta name="keywords" content="{$SYSTEM[seokeywords]}" />
<meta name="description" content="{$SYSTEM[seodescription]}" />
<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/lefont.css" rel="stylesheet" type="text/css">
<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/ledivs.css" rel="stylesheet" type="text/css">
<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/logreg_common.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.common.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.basecolor.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.article.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.special.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.singup.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.dialog.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.datepicker.css" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/register.css">
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/login.css"/>
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script src="{IMG_URL}templates/{TEMPLATE}/zn/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/cmstop.validator.js"></script>

</head>
<div class="n_ind_top">
  <div class="n_ind_topbar">
    <a class="toenglish" href="">Visit our English site</a>
    <div class="n_ind_logo">
      <ul>
        <li class="n_ind_lg_sjk"><img src="http://img.silkroad.news.cn/templates/silkroad/zn/images/n_ind_logo_sjk.jpg"></li>
        <li style="margin-right:0px;" class="n_ind_lg_2wm"><img src="http://img.silkroad.news.cn/templates/silkroad/zn/images/n_ind_logo_2wm.jpg"></li>
      </ul>
    </div>
   <!-- 登录 -->
    
  </div>
</div>
<div class="singup-box">
        <div class="hr100"></div>
        <div class="column singup-panel">
            <div class="inner">
                <div class="m-title-a">
                    <h2 class="m-title-h2"><a>忘记密码</a></h2>
                </div>
                <div class="hr20"></div>
                <!-- 登录内容 -->
                <div class="singup-form ov">
                    <div class="singup-w580 fl-l">
                        <form action="{url('member/index/getpassword')}" method="POST" name="member_getPassword" id="member_getPassword">
                            <div class="hr20"></div>
                            <div class="ov">
                                <label class="label singup-w70 fl-l margin-r-20">用户名</label>
                                <div class="singup-line singup-item singup-w430 fl-l">
                                    <input type="text" name="username" id="username" class="input-text username" />
                                </div>
                            </div>
                            <div class="hr40"></div>
                            <div class="ov">
                                <label class="label fl-l singup-w70 margin-r-20">邮箱</label>
                                <div class="singup-line singup-item singup-w430 fl-l">
                                    <input type="text" name="email" id="email" class="input-text username" />
                                </div>
                            </div>
                            <div class="hr30"></div>
                            <div class="ov margin-l-70">
                                <input type="submit" style="height:45px" value="提交" class="fl-l submit button1 margin-r-20" />
                            </div>
                            <div class="hr40"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr100"></div>
    </div>
    <script type="text/javascript">
    
    $('#member_getPassword').bind('submit', function () {
        $.post($('#member_getPassword').attr('action'), $('#member_getPassword').serialize(), function (data) {
            if (data.state) {
                $('#resetForm').hide();
                alert(data.message);
                window.location.href='{url('member/index/login')}';
            } else {
                alert(data.error);
            }
        }, 'json');
        return false;
    });
    $('.submit').css('cursor','pointer');
    </script>
<!--尾页-->
<!--{template 'system/foot_zn.html'}-->