<div class="member-right fl-l w680 margin-l-20" style="min-height: 170px;">
            <div class="hr10"></div>
            <form class="member-form" action="">
                <table>
                    <tbody>
                        <tr>
                            <td><p class="cor444">请您对下列平台帐号进行绑定</p></td>
                        </tr>
                        <tr>
                            <td><div class="singup-form-right">
                        <div class="hr20"></div>
                        <div class="ov">
                            <a class="web-login qq fl-l margin-r-20" href="">QQ账户</a>
                            <a class="web-login sina fl-l margin-r-20" href="">新浪微博</a>
                            <a class="web-login tqq fl-l margin-r-20" href="">腾讯微博</a>
                        </div>
                    </div></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>