<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
<?php $sitename = explode('&',$SYSTEM[sitename]);?>

	<title>{$sitename[0]}_{$SYSTEM[seotitle]}_重置密码</title>

	<link rel="stylesheet" type="text/css" href="{IMG_URL}templates/{TEMPLATE}/zn/css/cmstop-common.css" />
	<link rel="stylesheet" type="text/css" href="{IMG_URL}templates/{TEMPLATE}/zn/css/cmstop-member.css" />
	<!-- <link href="{IMG_URL}templates/{TEMPLATE}/zn/css/lefont.css" rel="stylesheet" type="text/css"> -->
	<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/ledivs.css" rel="stylesheet" type="text/css">
	<!-- <link href="{IMG_URL}templates/{TEMPLATE}/zn/css/logreg_common.css" rel="stylesheet" type="text/css"> -->
	<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/cmstop-common.js"></script>
	<!--[if lt IE 9 ]>
		<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/helper/modernizr.js"></script> 
	<![endif]-->
	<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
	<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.js"></script>
	<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{IMG_URL}js/lib/cmstop.validator.js"></script>

	<script type="text/javascript">
		$.validate.setConfigs({
			xmlPath:'apps/member/validators/'
		});
	</script>

</head>
<body>
	<!-- 头部 -->
	<div class="n_ind_top">
	  <div class="n_ind_topbar">
		    <a class="toenglish" href="">Visit our English site</a>
		    <div class="n_ind_logo">
		      <ul>
		        <li class="n_ind_lg_sjk"><img src="http://img.silkroad.news.cn/templates/silkroad/zn/images/n_ind_logo_sjk.jpg"></li>
		        <li style="margin-right:0px;" class="n_ind_lg_2wm"><img src="http://img.silkroad.news.cn/templates/silkroad/zn/images/n_ind_logo_2wm.jpg"></li>
		      </ul>
		    </div>
	   <!-- 登录 -->
	    
	  </div>
	</div>

	<div class="head-bg">
		<div class="head-bg-pic">

			<!-- 会员信息区 -->
			<div class="member-bar column">
				
			</div><!-- @end 会员信息区 -->

			<section class="column content-column pos-r">
				<section class="content-inner content-inner2">
					
					<h2 class="h2">重置密码</h2>
					<div class="ov">

						<!-- 左侧表单 -->
						<div class="form-box form-box-bind-left">
							<form action="{$url}" method="POST"  name="member_resetPassword" id="member_resetPassword">
								<div class="ov">
									<label for="password" class="user-name">新密码</label>
									<div class="user-txt-box">
										<input name="password" id="password" type="password" class="email-box" />
									</div>
								</div>
								<div class="ov">
									<label for="password_check" class="email">重复输入</label> 
									<input name="password_check" id="password_check" type="password" class="email-box" />
								</div>
								<a href="javascript:;" title="" class="btn btn-b-blue" onclick="$('#member_resetPassword').submit();"><span>确定</span></a>
							</form>
							<div id="successUl"  style="display:none; margin-left:20px;">
								<p class=" mar_t_10">您成功更改了密码，请牢记您的新密码！<a href="{WWW_URL}" class="c_red u">返回首页</a></p>
							</div>
						</div><!-- @end 左侧表单 -->

					</div>
				</section>
				<em class="star pos-a"></em>
			</section>
		</div>
	</div>
	<script type="text/javascript">
	$('#member_resetPassword').bind('submit', function () {
		$.post($('#member_resetPassword').attr('action'), $('#member_resetPassword').serialize(), function (data) {
			if(data.state) {
				$('#member_resetPassword').hide();
				$('#successUl').show();
			} else {
				alert(data.error);
			}
		}, 'json');
		return false;
	})
	</script>
	<!--尾页-->
<!--{template 'system/foot_zn.html'}-->
</body>
</html>