<div class="member-right fl-l w680 margin-l-20" style="min-height: 577px;">
            <div class="hr10"></div>
            <form class="member-form" action="">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-r"><label class="label" for="">上传头像</label></td>
                            <td>
                                <div class="ov"><a class="fl-l photo" href=""><img alt="" src="{IMG_URL}templates/{TEMPLATE}/css/images/p_bg.jpg"></a><input type="file" style="margin-top: 80px;" id="" name=""></div>
                                <div class="hr20"></div>
                                <div><p class="cor444">注：允许上传图格式为JPG，GIF，文件大小不可超过500K</p></div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td></td>
                            <td>
                                <div class="hr20"></div>
                                <div class="ov submit-bar">
                                    <input type="text" name="" id="" class="m-input-text fl-l" style="margin-left:0;" value="验证码">
                                    <img src="img/seccode.png" class="fl-l" alt="">
                                    <a href="" class="reload fl-l icon16x16"></a>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div class="hr30"></div>
                                <div class="ov submit-bar">
                                    <input type="submit" class="submit button1" value="保存">
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>