<div class="dh_headbar">
    <div class="box1000">
        <div class="dh_headbar_logo"><img src="{IMG_URL}templates/{TEMPLATE}/zn/images/dh_silkdb_logo.jpg"></div>
        <div class="dh_headbar_nav">
            <!--#include virtual="/section/290.html"--><!--# 公共区块 公共区块头部导航链接 #-->
        </div>
        <div class="dh_headbar_user">
            <img src="{IMG_URL}templates/{TEMPLATE}/zn/images/silkdb_tx32.jpg">
            <div  id="{WWW_URL}"class="dh_hdbar_navdot"></div>
            <div class="dh_headbar_navsub">
                <dl>
                <dd><a href="{APP_URL}{url('contribution/panel/index')}">用户中心</a></dd>
                <dd><a href="javascript:;">联系客服</a></dd>
                <dd><a href="{APP_URL}{url('guestbook/index/index')}">需求反馈</a></dd>
                <dd style="border-bottom:0px;"><a href="{APP_URL}{url('member/index/logout')}">退出登录</a></dd>
                </dl>
            </div>
        </div>
    </div>  
</div>

<script>
$(function(){
   
});
</script>


