<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<?php $sitename = explode('&',$SYSTEM[sitename]);?>
<title>{$sitename[0]} _ 案例</title>
<meta name="Keywords" content="{$SYSTEM[sitename]} {$SYSTEM[seokeywords]}">
<meta name="description" content="{$SYSTEM[sitename]} {$SYSTEM[seodescription]}">
<!-- 别忘记此处的meta标签，确保IE都是在标准模式下渲染 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

<link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/base.css">
<link href="{IMG_URL}templates/{TEMPLATE}/zn/css/lefont.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/zn/css/case.css"> 
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script src="{IMG_URL}templates/{TEMPLATE}/js/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/zn/js/case.js"></script>
</head>
<body>
<!-- 顶部 -->
    <!--{template "system/head_zn.html"}-->
   <!--#include virtual="/section/277.html"--><!--# 公共区块 公共区块搜索 #-->
 
<div class="container">
	<!-- left -->
	<div class="left730">
		<div class="n_ind_contitle">
		    <ul>
		   <!--{db sql="SELECT name,proid FROM #table_property where parentid=308 order by sort asc"}--> 
					 <li class="{if $i==1}n_ind_contitle_on{/if}"><span id={$r['proid']}>{$r['name']}</span></li>
		    <!--{/db}--> 
		    </ul>
		  </div>
		  <div class="n_ind_contmain">
		  	<div class="news" style="display:block"> 
	        	<ul>
		            
		           
		          </ul> 
	          <a class="more" href="#">更多最新内容>></a>
      		</div>
		  	
		  	
		  </div>
	</div>
	<!-- right -->
	<div class="right250">
		
			<!--#include virtual="/section/301.html"--><!--# 资讯频道 丝路情报 #-->
			
			<!--#include virtual="/section/372.html"--><!--# 报告 右侧-智讯参考区块 #-->

			<!--#include virtual="/section/304.html"--><!--# 资讯频道 国别报告 #-->
		
			<!--#include virtual="/section/318.html"--><!--# 资讯频道 阅读排行 #-->
		
	</div>
	<div class="clearfix"></div>	
</div>


<!--{template "system/foot_zn.html"}-->

<script type="text/javascript">
	$(function(){
			$(".n_ind_contitle li").bind("click",function(){
			var index = $(this).index();
			$(this).addClass("n_ind_contitle_on").siblings().removeClass("n_ind_contitle_on");
			$(".n_ind_contmain .news").eq(index).show().siblings().hide();
		})
		// 收藏功能完整
		//ajax判断改用户所有已经收藏的案例
		var yang = $(".news .info .fav");
		var memberid = $.cookie(COOKIE_PRE+'userid');
		var strr = 'memberid='+memberid+'&typeid=8';
		var contentid = yang.parents("li").attr('contentid');
		$.getJSON(
		        '{APP_URL}?app=member&controller=index&action=ajax_project_collect&jsoncallback=?&'+strr,
			        function(data){
			        	$('.fav').each(function(){

			        	var contentid = $(this).parents("li").attr('contentid');
			        		for(var i in data){ 
								    if(parseInt(data[i])==contentid){
								    	
								    	 $(this).attr('class','fav on');
								    	 $(this).text('取消收藏');
										}
									}
			        })
			      }
			);
	 		
		//收藏点击事件
		$(".news").delegate(".fav","click",function(){
			var silu = $(this);
			var contentid = silu.parents("li").attr('contentid');
			var catid = silu.parents("li").attr('catid');
			var str = 'contentid='+contentid+'&catid='+catid+'&memberid='+memberid+'&typeid=8'+'&status=0';
			silu.toggleClass("on");
			var res = silu.hasClass("on");
			if(!res){
				//ajax请求服务器取消收藏
				$.getJSON(
	            '{APP_URL}?app=member&controller=index&action=ajax_not_collect&jsoncallback=?&'+str,
                  function(data){
                             if(data.status!='success')
                             {
                                    alert('取消失败');
                                    return false;
                             }
                  	}
                  );
     							silu.text("收藏");
				}else{
				
				//ajax请求服务器完成收藏
				$.getJSON(
	             '{APP_URL}?app=member&controller=index&action=ajax_collect&jsoncallback=?&'+str,
	                 function(data){
                               if(data.status!='success')
                               {
                                      alert('收藏失败');
                                      return false;
                               }
	                    		}
	                    );
	       				silu.text("取消收藏");
				}
		})
})
</script>

</body>
</html>