<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>专题_{$SYSTEM[sitename]}</title>
    <link rel="stylesheet" href="{MOBILE_URL}templates/{TEMPLATE}/touch/css/touch-app.css" />
    <script src="{MOBILE_URL}templates/{TEMPLATE}/touch/js/zepto.min.js"></script><!--http://zeptojs.com/ -->
    <script src="{MOBILE_URL}templates/{TEMPLATE}/touch/js/cmstop.touchapp.js"></script>

    <script src="{IMG_URL}js/lib/cmstop.template.js"></script>
    <script src="{MOBILE_URL}templates/{TEMPLATE}/touch/js/cmstop.scrolllist.js"></script>
</head>
<body>
<div class="ui-container">
    <section>
        <header>
            <div class="ui-header-bar">
                <a href="{MOBILE_URL}" class="ui-gohomepage"></a>
                <div class="ui-pagetitle">专题</div>
                <div class="ui-menu-trigger js-menubtn-top"></div>
            </div>
        </header>

        <!--{template 'mobile/touch/_blocks/nav.html'}-->

        <!--{mobile_content modelid="10" size="10" return="data" /}-->
        <!--{if !empty($data)}-->
        <div class="ui-video-list ui-special-list{if $SETTING[display][thumb_align] == 'left'} ui-model-left{/if}">
            <ul>
                <!--{loop $data['data'] $i $r}-->
                <li data-sorttime="{$r[sorttime]}">
                    <a href="{$r[url]}">
                        <!--{if $r[thumb]}-->
                        <div class="ui-video-thumb">
                            <img src="{thumb($r[thumb], 80, 60)}" width="80" height="60" alt="">
                        </div>
                        <!--{/if}-->
                        <h3>{$r[title]}</h3>
                        <p>{str_natcut($r[description], 35)}</p>
                    </a>
                </li>
                <!--{/loop}-->
            </ul>
            <!--{if $data[total] > 10}-->
            <div class="ui-cate-list"><a class="ui-more">查看更多</a></div>
            <script type="text/template" id="tpl-row">
                <li>
                    <a href="{%url%}">
                        {%if thumb%}
                        <div class="ui-video-thumb">
                            <img src="{%thumb%}" width="80" height="60" alt="">
                        </div>
                        {%endif%}
                        <h3>{%title%}</h3>
                        <p>{%description%}</p>
                    </a>
                </li>
            </script>
            <!--{/if}-->
        </div>
        <!--{/if}-->
    </section>
</div>
<!-- 底部 -->
<footer class="ui-bottom-bar">
    <!--{template 'mobile/touch/_blocks/footer.html'}-->
</footer>
<script>
    $(function() {
        // 底部栏目选择
        var bb = $('.js-menubtn-bottom');
        bb.click(function() {
            $('.js-categorys-bottom').toggleClass('js-hidden');
            setTimeout(function() {
                document.body.scrollTop = document.body.clientHeight;
            }, 50);
        });

        var list = $('.ui-video-list>ul');
        new ScrollList({
            url: '{MOBILE_URL}special/',
            trigger: $('.ui-more'),
            container: list,
            template: $('#tpl-row').html(),
            page: 2,
            pagesize: 10,
            sorttime: list.children().first().attr('data-sorttime') || 0
        });
    });
</script>
</body>
</html>