<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="UTF-8" />
<?php $sitename = explode('&',$SYSTEM[sitename]);?>

    <title>在线报纸 - {$sitename[0]}</title>
    <meta name="keywords" content="在线报纸 {$SYSTEM[sitename]} {$SYSTEM[seokeywords]}" />
    <meta name="description" content="在线报纸 {$SYSTEM[sitename]} {$SYSTEM[seodescription]}" />
    <!-- 别忘记此处的meta标签，确保IE都是在标准模式下渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.common.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.picture.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.basecolor.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.singup.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.dialog.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.member.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.datepicker.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.special.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.index.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.paper.css" />
    <script type="text/javascript" src="{IMG_URL}js/config.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.common.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.dialog.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.datepicker.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.imagetab.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.gotop.js"></script>
    <!-- IE8及IE8以下浏览器都支持HTML5 -->
    <!--[if lt IE 9]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/html5/html5.js"></script>
    <![endif]-->

    <!-- IE6支持png24 -->
    <!--[if lt IE 7 ]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/ie6_png24/iepngfix_tilebg.js"></script> 
    <![endif]-->
</head>
<script type="text/javascript">
    var pid = "{$paperid}";
    var mapid = "{$mapid}";
    var eid = "{$editionid}";
    var total_number = "{$edition[total_number]}";
</script>
<body>
    <!-- 顶部 -->
    <!--{template "system/head_simple_php.html"}-->
    <div class="hr20"></div>
    <div class="column">
    <!--#include virtual="/section/9.html"--><!--# 全局广告 顶通 1000 x 80 #-->
    </div>
    <div class="hr10"></div>
    <div class="column m-crumb">
        <a href="{WWW_URL}" target="_blank">首页</a>
        <em class="icon16x16"></em>
        <a href="javascript:;">报纸</a>
    </div>
    <div class="hr10"></div>
	<section class="column paper-crumb js-returntop">
		<!-- 报纸列表 -->
		<!-- Note: 如果列表只有一份报纸，则直接跳转到该份报纸的详情页 -->
		<div class="paper-list ov">
			<ul>
				<!--{db sql="SELECT * FROM #table_paper ORDER BY paperid DESC"}-->
				<li class="item">
					<div class="thumb">
						<a href="{if ($r[url] && $r[url] != 'javascript:;')}{$r[url]}{else}javascript:;{/if}" title="{$r[name]}" ><img src="{thumb($r[logo], 458, 638)}" alt="" width="458" height="638" /></a>
					</div>
					<div class="title">
						<a href="{if ($r[url] && $r[url] != 'javascript:;')}{$r[url]}{else}javascript:;{/if}" title="{$r[name]}">{$r[name]}</a>
					</div>
				</li>
				<!--{/db}-->
			</ul>
		</div>
		<!-- @end 报纸列表 -->
	</section>
    <!-- 返回顶部 -->
    <div class="scroll-btns js-scrollbtns">
        <div class="btn home icon40x40">
            <a href="{WWW_URL}" class="text">返回首页</a>
        </div>
        <div class="hr10"></div>
        <div class="btn top icon40x40">
            <a href="" class="text">返回顶部</a>
        </div>
    </div>
	<!--#公共区块 网站底部#-->
	<!--#include virtual="/section/2.html"-->
</body>
</html>