.content-list-gray-a ul { padding:5px 8px;}
.content-list-gray-a li { line-height:25px; padding-left:8px; background:url("http://img.xinhua08.com/apps/special/ui/content/list/gray-a/images/point.gif") no-repeat 0 10px;}
.content-list-gray-a a { font-size:14px; color:#333;}
.content-list-gray-a a:hover{ color:#c00;}
.content-list-gray-a .date{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #bbb;}
.title-green-c { overflow: hidden; background:url(http://img.xinhua08.com/apps/special/ui/title/green-c/images/green-c.png) no-repeat 0 0; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px;}
.title-green-c a,.title-green-c span{color:#060;}
.frame-white{ background:#fff;}
.title-red-a { overflow: hidden; background:url("http://img.xinhua08.com/apps/special/ui/title/red-a/images/red-a.jpg") repeat-x; height:50px; line-height:50px; font-size:24px; font-weight:bold; padding-left:12px;}
.title-red-a a,.title-red-a span{color:#ffae00;font-size:24px; font-family:"微软雅黑"}
 .content-palist-gray-a li {padding:8px 6px; border-bottom:1px dotted #ccc;}
 .content-palist-gray-a img {margin:8px 8px 8px 0;}
 .content-palist-gray-a .summary {margin:0; padding:0;}
 .content-palist-gray-a{background-color:#fff;}
 .content-palist-gray-a .imgtxtsummary-list{margin:0 4px;}
 .content-palist-gray-a .imgtxtsummary-list a{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list h3 a{ color:#333; font-size:12px;font-weight:bold;}
 .content-palist-gray-a .imgtxtsummary-list p{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list a:hover{text-decoration:none;color:#c00;}
.title-arrow-c { overflow: hidden; background:url("http://img.xinhua08.com/apps/special/ui/title/arrow-c/images/bg.png") no-repeat; height:30px; border-bottom:1px solid #ddd; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px;}
.title-arrow-c a,.title-arrow-c span{color:#333;}
.frame-wash-a { border:1px solid #d8cfb3; background:#fff;}
.title-wash-a { overflow: hidden; background:url("http://img.xinhua08.com/apps/special/ui/title/wash-a/images/wash-a.jpg") repeat-x; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:6px;}
.title-wash-a a,.title-wash-a span{color:#333;font-weight:bold;font-size:14px;}
.widget-wash-a .diy-inner { border:1px solid #d8cfb3; background:#fff;}
.title-simple { background:#069; height:80px; line-height:80px; color:#fff; font-size:28px; font-family:"微软雅黑"; padding-left:20px;}
.title-blue-c { overflow: hidden; background:#0078B6; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:9px;}
.title-blue-c,.title-blue-c span{color:#fff;}
.title-shuimo { overflow: hidden; background:url("http://img.xinhua08.com/apps/special/ui/title/shuimo/images/shuimo.jpg") no-repeat 0 0; height:32px; line-height:32px; font-size:14px; font-weight:bold; padding-left:10px;}
.title-shuimo a,.title-shuimo span{color:#663300; font-weight:bold;font-size:14px;}
.widget-gray-a .diy-inner { border:1px solid #dadada; background:#fff;}
