<header class="header ie6_png32">
    <div class="header-box">
        <div class="column">
            <div class="logo-img mar-t-5">
                <a href="" target="_blank">
                    <img src="{IMG_URL}templates/{TEMPLATE}/css/images/logo1.png" width="235" height="60" alt="" class="ie6_png32"/>
                </a>
            </div>
            <div class="nav-box">
                <ul style="width: 710px;">
                <!--#include virtual="/section/268.html"--><!--# 公共区块 公共区块头部导航连接 #-->
                </ul>
            </div>
            <div class="luser" id="userLogin">
                <div class="user-login">
                    <a href="">
                        <img src="{IMG_URL}templates/{TEMPLATE}/css/images/user-login.png" width="33"
                             height="32" alt=""
                             class="f-l ie6_png32"/>
                        <em class="micon ie6_png32"></em>
                    </a>

                    <div class="user-menu">
                        <dl>
                            <dd>
                                <a href='{APP_URL}{url("contribution/panelcn/index")}'>
                                    Account
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" target="_blank">
                                    Feedback
                                </a>
                            </dd>
                            <dd style="border: none;">
                                <a href="{APP_URL}{url('member/index/logout_cn')}">
                                    Quit
                                </a>
                            </dd>

                        </dl>
                        <div class="hr12 ov"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
$(function(){
    
});
</script>
