/*
 @name 蓝色菜单样式
 @notes  蓝底白色
*/
.content-menu-blue {
	background:#0078B6 url("images/bg.jpg") repeat-x 0 0;
	padding:0px 10px;
}
.content-menu-blue a {
	color:#fff;
	font-size:12px;
}
.content-menu-blue a:hover {
	color:#fff;
}
.content-menu-blue span.sepr {
	margin:0 4px;
	color:#fff;
	font-size:12px;
}