<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <title>排行榜_{$SYSTEM[sitename]}</title>
    <meta name="keywords" content="在线报纸 {$SYSTEM[sitename]} {$SYSTEM[seokeywords]}" />
    <meta name="description" content="在线报纸 {$SYSTEM[sitename]} {$SYSTEM[seodescription]}" />
    <!-- 别忘记此处的meta标签，确保IE都是在标准模式下渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.common.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.basecolor.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.singup.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.dialog.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.member.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.datepicker.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.index.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.rank.css" />
    <script type="text/javascript" src="{IMG_URL}js/config.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.common.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.dialog.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.datepicker.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.imagetab.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.rank.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.gotop.js"></script>
    <!-- IE8及IE8以下浏览器都支持HTML5 -->
    <!--[if lt IE 9]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/html5/html5.js"></script>
    <![endif]-->

    <!-- IE6支持png24 -->
    <!--[if lt IE 7 ]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/ie6_png24/iepngfix_tilebg.js"></script> 
    <![endif]-->
</head>
<body>
    <!-- 顶部 -->
    <!--{template "system/head_simple_php.html"}-->
    <div class="hr20"></div>
    <div class="column">
    <!--#include virtual="/section/9.html"--><!--# 全局广告 顶通 1000 x 80 #-->
    </div>
    <div class="hr20"></div>
    <div class="column ov js-returntop">
        <div class="fl-l w660">
            <div class="category-list pos-r">
                <a href="{APP_URL}rss.php" class="title{if $cha['alias'] == $alias} now{/if}" title="全部">全部</a>
                <a href="javascript:;" class="open">更多<i class="arrow-down"></i></a>
                <a href="javascript:;" class="close">收起</a>
                <?php $channel_ids = array(); ?>
                <!--{loop channel() $id $c}-->
                    <?php array_push($channel_ids,$id); ?>
                <a href="#c_{$c[catid]}">{$c[name]}</a>
                <!--{/loop}-->
            </div>
            <section class="r-list">
                <!--{loop channel() $c}-->
                <div class="r-channel">
                    <a name="c_{$c[catid]}"></a><div class="r-head">{$c[name]}</div>
                    <div class="r-content ov">
                        <div class="r-grid">
                            <div class="r-grid-head">
                                <div class="r-grid-head-name">点击榜</div>
                                <div class="r-type-panel">
                                    <a href="javascript:;" class="now">今日</a>
                                    <a href="javascript:;">本周</a>
                                    <a href="javascript:;">本月</a>
                                </div>
                            </div>
                            <ul class="tab">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="1" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="1" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                            <ul class="tab" style="display:none">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="7" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="7" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                            <ul class="tab" style="display:none">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="30" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="30" orderby="pv desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                        </div>
                        <div class="r-grid">
                            <div class="r-grid-head">
                                <div class="r-grid-head-name">评论榜</div>
                                <div class="r-type-panel">
                                    <a href="javascript:;" class="now">今日</a>
                                    <a href="javascript:;">本周</a>
                                    <a href="javascript:;">本月</a>
                                </div>
                            </div>
                            <ul class="tab">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="1" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="1" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                            <ul class="tab" style="display:none">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="7" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="7" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                            <ul class="tab" style="display:none">
                                <!--{if $c[childids]!=NULL}-->
                                <!--{content catid="$c[childids]" published="30" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{elseif $c[childids]==NULL}-->
                                <!--{content catid="$c[catid]" published="30" orderby="comments desc" size="10"}-->
                                <li class="item"><em class="ico<!--{if $i<=3}--> n{$i}<!--{/if}-->">{$i}.</em><a href="{$r[url]}" target="_blank" class="title">{str_natcut($r[title],21)}</a></li>
                                <!--{/content}-->
                                <!--{/if}-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--{/loop}-->
            </section>
        </div>
        <div class="fl-r w300">
            <!-- 今日推荐 -->
            <div class="commend-article">
                <div class="m-title-a">
                    <h2 class="m-title-h2"><a>今日推荐</a></h2>
                </div>
                <div class="commend-inner">
                    <div class="m-accordion js-accordion">
                        <ul>
                            <!--#include virtual="/section/19.html"--><!--# 文章内容 今日推荐 #-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hr20"></div>
            
            <div class="">
                <!--#include virtual="/section/21.html"--><!--# 列表页广告 右侧 300 x 240 #-->
            </div>
            
            <div class="hr20"></div>

            <!-- 推荐图片 -->
            <div class="commend-picture">
                <!--#include virtual="/section/11.html"--><!--# 公共区块 推荐图片 #-->
            </div>

            
            <div class="">
                <!--#include virtual="/section/23.html"--><!--# 列表页广告 右侧 300 x 90 #-->
            </div>
            
            <div class="hr20"></div>

            <!-- 推荐视频 -->
            <div class="commend-video">
                <!--#include virtual="/section/14.html"--><!--# 公共区块 推荐视频 #-->
            </div>
        </div>
    </div>
    <div class="hr40"></div>
    <!-- 返回顶部 -->
    <div class="scroll-btns js-scrollbtns">
        <div class="btn home icon40x40">
            <a href="{WWW_URL}" class="text">返回首页</a>
        </div>
        <div class="hr10"></div>
        <div class="btn top icon40x40">
            <a href="" class="text">返回顶部</a>
        </div>
    </div>
    <!--#include virtual="/section/2.html"--><!--网站底部-->
    
</body>
</html>