/*
 @name 蓝色经典
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-blue {
	overflow: hidden;
	background:url("images/bg.jpg") repeat-x 0 0;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#06c;
}
.title-blue a,
.title-blue span {
	padding-left:9px;
}