.frame-yellow-b { border:1px solid #fde0a6; background:#fff; padding-bottom:5px;}
.widget-blue-a .diy-inner { background:#E9F7FE;}
.content-html-font-black{ color:#333; padding:10px 15px;}
.content-html-font-black p{ text-indent: 2em; margin:10px 10px 20px 20px; font-size:14px; line-height:1.8em;}
.widget-yellow-a .diy-inner { border:1px solid #fde0a6; background:#fff; padding-bottom:5px;}
.content-list-gray-a ul { padding:5px 8px;}
.content-list-gray-a li { line-height:25px; padding-left:8px; background:url("http://img.xh08.cn/apps/special/ui/content/list/gray-a/images/point.gif") no-repeat 0 10px;}
.content-list-gray-a a { font-size:14px; color:#333;}
.content-list-gray-a a:hover{ color:#c00;}
.content-list-gray-a .date{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #bbb;}
.title-blue-c { overflow: hidden; background:#0078B6; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:9px;}
.title-blue-c,.title-blue-c span{color:#fff;}
.frame-blue { background:#B0E1FA;}
.title-blue { overflow: hidden; background:url("http://img.xh08.cn/apps/special/ui/title/blue/images/bg.jpg") repeat-x 0 0; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#06c;}
.title-blue a,.title-blue span { padding-left:9px;}
.widget-white .diy-inner { background:#fff;}
.frame-gray-b { border:1px solid #B6BBC0; background:#fff;}
.title-gray-c { overflow: hidden; background:url("http://img.xh08.cn/apps/special/ui/title/gray-c/images/gray-c.jpg") no-repeat; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#333; padding-left:20px;}
.title-big-b { font-size:24px; background: url("http://img.xh08.cn/apps/special/ui/title/big-b/images/title.png") no-repeat 0 10px; line-height:32px; font-family:"微软雅黑"; padding:10px 20px 16px 54px; border-bottom:1px solid #d6d6d6; margin:0 15px; }
.title-big-b,.title-big-b span{}
.frame-yellow-d { background:#F1E6D4;}
.content-html-font-black-a{ color:#333; padding:5px 9px;}
.content-html-font-black-a p{ line-height:1.8em;}
.frame-gray { background:#f5f5f5;}
.widget-gray-b .diy-inner { border:1px solid #B6BBC0; background:#fff;}
.title-yellow-e { overflow: hidden; background:url("http://img.xh08.cn/apps/special/ui/title/yellow-e/images/yellow-e.jpg"); height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px;}
.title-yellow-e,.title-yellow-e span{color:#990000;}
.title-red-c { overflow: hidden; background:url("http://img.xh08.cn/apps/special/ui/title/red-c/images/red-c.jpg") repeat-x; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px;}
.title-red-c a,.title-red-c span{color:#900;font-weight:bold;font-size:14px;}
