/*
 @name 红色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-red-b {
	overflow: hidden;
	background:#BC2421 url("images/red-b.jpg") no-repeat 0 0;
	height:40px;
	line-height:40px;
	padding-left:80px;
	
}
.title-red-b a,
.title-red-b span{color:#fc0;font-size:24px;font-family:"微软雅黑";}
