<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="UTF-8" />
<?php $sitename = explode('&',$SYSTEM[sitename]);?>

    <title>{$m[name]}_在线杂志_{$sitename[0]}</title>
    <meta name="keywords" content="{$SYSTEM[seokeywords]}" />
    <meta name="description" content="{$SYSTEM[seodescription]}" />
    <!-- 别忘记此处的meta标签，确保IE都是在标准模式下渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="shortcut icon" href="{WWW_URL}favicon.ico" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.common.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.picture.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.basecolor.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.singup.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.dialog.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.member.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.datepicker.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.special.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.index.css" />
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/css/cmstop.magazine.css" />
    <script type="text/javascript" src="{IMG_URL}js/config.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/jquery.cookie.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.common.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.dialog.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.datepicker.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.imagetab.js"></script>
    <script src="{IMG_URL}templates/{TEMPLATE}/js/cmstop.gotop.js"></script>
    <!-- IE8及IE8以下浏览器都支持HTML5 -->
    <!--[if lt IE 9]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/html5/html5.js"></script>
    <![endif]-->

    <!-- IE6支持png24 -->
    <!--[if lt IE 7 ]>
        <script src="{IMG_URL}templates/{TEMPLATE}/js/ie6_png24/iepngfix_tilebg.js"></script> 
    <![endif]-->
</head>
<body>
    <!-- 顶部 -->
    <!--{template "system/head_simple_php.html"}-->
    <div class="hr20"></div>
    <div class="column">
    <!--#include virtual="/section/9.html"--><!--# 全局广告 顶通 1000 x 80 #-->
    </div>
    <div class="hr20"></div>
    <div class="column m-crumb">
        <a href="{WWW_URL}" target="_blank">首页</a>
        <em class="icon16x16"></em>
        <a href="{WWW_URL}{url(magazine/index/index)}">杂志</a>
        <em class="icon16x16"></em>
        <a href="javascript:;">{$m[name]}</a>
    </div>
    <div class="hr10"></div>
    <div class="column">
        <div class="magazine-years">
            <div class="inner">
                <?php $index = 0;?>
                <!--{db sql="SELECT distinct year FROM #table_magazine_edition WHERE mid = $mid ORDER BY year DESC LIMIT 13"}-->
                <?php if(($index==12) && ($r[year]>$year)):?>
                <a href="{WWW_URL}magazine/{$m[alias]}/{$year}/" class="current">{$year}</a>
                <?php else:?>
                <a href="{WWW_URL}magazine/{$m[alias]}/{$r[year]}/"{if $r[year]==$year} class="current"{/if}>{$r[year]}</a>
                <?php endif;?>
                <?php $index++;?>
                <!--{/db}-->
                <div id="otheryears"><div class="other-years"></div></div>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <div class="hr10"></div>
    <div class="column magazine-page-list ov">
        <div class="magazine-list-wrap">
            <ul id="magazine-list">
                <!--{db sql="SELECT * FROM #table_magazine_edition WHERE mid = $mid AND year = $year ORDER BY eid ASC"}-->
                <li class="magazine-page-item">
                    <a href="{WWW_URL}magazine/{$m[alias]}/{$year}/{$r[eid]}/" class="cover"><img src="{thumb($r[image], 150, 200)}" alt="" width="150" height="200" ></a>
                    <div class="infos">
                        <a href="{WWW_URL}magazine/{$m[alias]}/{$year}/{$r[eid]}/" class="title">{$r[title]}</a>
                        <p>{$r[year]}年第{$r[number]}期 总第{$total_number}期</p>
                        <p>{date('Y年n月j日',$r[publish])}出版</p>
                        <p>
                            <a href="{WWW_URL}magazine/{$m[alias]}/{$year}/{$r[eid]}/" class="read-btn">点击阅读</a>
                            <!--{if $r[pdf]}-->
                            <a href="{UPLOAD_URL}{$r[pdf]}" class="pdfdownload-btn"></a></p>
                            <!--{/if}-->
                    </div>
                </li>
                <!--{/db}-->
            </ul>
        </div>
    </div>
    <div class="hr10"></div>
    <!--# 底部 #-->
    <!--#include virtual="/section/2.html"--><!--# 公共区块 网站底部 #-->
</body>
</html>