<div class="column member-main ov">
        <div class="member-right fl-l w680 margin-l-130">
            <div class="hr10"></div>
            <form class="member-form" action="">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-r"><span class="leveltop">*</span><label class="label" for="">专栏名称</label></td>
                            <td><input type="password" class="m-input-text w160"></td>
                        </tr>
                        <tr>
                            <td class="align-r"><div class="hr30"></div><span class="leveltop">*</span><label class="label" for="">作者名</label></td>
                            <td><div class="hr30"></div><input type="text" class="m-input-text w160"></td>
                        </tr>
                        <tr>
                            <td class="align-r"><div class="hr30"></div><span class="leveltop">*</span><label class="label" for="">专栏地址</label></td>
                            <td><div class="hr30"></div><span class="cor444">http://space.cmstop.com/</span> <input type="text" class="m-input-text w160"></td>
                        </tr>
                        <tr>
                            <td class="align-r align-t"><div class="hr30"></div><span class="leveltop">*</span><label class="label" for="">个人简介</label></td>
                            <td><div class="hr30"></div><div class="summary border1 w560">
                                <textarea id="" name=""></textarea>
                            </div></td>
                        </tr>
                        <!-- <tr>
                            <td></td>
                            <td>
                                <div class="hr20"></div>
                                <div class="ov submit-bar">
                                    <input type="text" name="" id="" class="m-input-text fl-l" style="margin-left:0;" value="验证码">
                                    <img src="img/seccode.png" class="fl-l" alt="">
                                    <a href="" class="reload fl-l icon16x16"></a>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div class="hr30"></div>
                                <div class="ov submit-bar">
                                    <input type="submit" class="submit button1" value="申请"> <!-- <a href="" class="button1 caogao">我的专栏</a> -->
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>