<div class="member-right fl-l w680 margin-l-20" style="min-height: 577px;">
            <div class="hr10"></div>
            <form class="member-form" action="">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-r"><span class="leveltop">*</span><label class="label" for="">登录密码</label></td>
                            <td><input type="password" class="m-input-text w160"></td>
                        </tr>
                        <tr>
                            <td class="align-r"><div class="hr30"></div><span class="leveltop">*</span><label class="label" for="">新邮箱</label></td>
                            <td><div class="hr30"></div><input type="text" class="m-input-text w160"></td>
                        </tr>
                        <tr>
                            <td class="align-r"><div class="hr30"></div><span class="leveltop">*</span><label class="label" for="">再次输入</label></td>
                            <td><div class="hr30"></div><input type="text" class="m-input-text w160"></td>
                        </tr>
                        <!-- <tr>
                            <td></td>
                            <td>
                                <div class="hr20"></div>
                                <div class="ov submit-bar">
                                    <input type="text" name="" id="" class="m-input-text fl-l" style="margin-left:0;" value="验证码">
                                    <img src="img/seccode.png" class="fl-l" alt="">
                                    <a href="" class="reload fl-l icon16x16"></a>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div class="hr30"></div>
                                <div class="ov submit-bar">
                                    <input type="submit" class="submit button1" value="保存">
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>