ol, ul, li, dl, dt, dd {
    list-style: none;
}
*{
	margin:0;padding:0;
}
i, em {
    font-style: normal;
}
a {
    color: #333; text-decoration: none; outline: thin none;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration:none;
}
a:focus {
    -moz-outline-style: none;
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.clear {
    font-size: 0; line-height: 0; clear: both;
    overflow: hidden; zoom: 1;
}
.bef:before{ /* 外边距溢出 */
    visibility: hidden; content: ""; display: table;
    font-size: 0; width: 0; height: 0;
}
.aft:after{ /* 清除浮动 */
    visibility: hidden; content: ""; display: block;
    clear: both; font-size: 0; width: 0; height: 0;
}
.ov {
    overflow: hidden;
}
.f-b {

}
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-19 {
    font-size: 19px;
}

body {
    background: #f3f3f3;
}

.container {
    width: 1000px;
    height: 1000px;
    margin: 23px auto 0;

}
.container .con-left {
    width: 713px;
    height: auto;
    background: #fff;
    /*background: green;*/
}
.container .con-left .content {
    width: 665px;
    height: auto;
    margin-left: 30px;
    /*margin-top: 18px;*/

    /*background: green;*/
}
.container .con-left .content .conn {
    padding: 20px 0 20px 0;
    border-bottom: 1px dashed #dcdcdc;
}
.container .con-left .content .context {
    width: 525px;
    height: auto;

}
.container .con-left .content .context .context-title {
    font-weight: bold;
    color: #006e97
}
.container .con-left .content .context .time {
    font-size: 14px;
    color: #666;
}
.container .con-left .content .context .con {
    width: 100%;
    line-height: 21px;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}
.container .con-left .content .context .tabofcon {
    margin-top: 20px;
    /*background: green;*/
}
.container .con-left .content .context .tabofcon em {
    width: 5px;
    height: 8px;
    display: inline-block;
    background: url("../img/spirit.png") -66px 0px no-repeat;
    margin-right: 8px;
}
.container .con-right {
    width: 261px;
    height: auto;
    background: #fff;
    padding-bottom: 100px;
}
.container .con-right .bank {
    text-align: center;
    width: 224px;
    margin: 10px auto;
}
.container .con-right .bank>img {
    width: 224px;
}
.container .con-right .headquarters {
    width: 222px;
    margin: 20px auto 0;
}
.container .con-right .headquarters li {
    float: left;
    margin-left: 5px;
    margin-top: 6px;
}
.container .con-right .headquarters li .name {
    color: #208acd;
    margin-top: 3px; 
    font-size:12px;
}
.container .con-right .headquarters .hq {
    font-weight: bold;
}
.container .con-right .headquarters .more a{
    font-size: 14px;
    color: #006e97;
}
.container .con-right .report {
    width: 222px;
    margin: 20px auto 0;
    height: auto;
    border: 1px solid #006e97;
    text-align: justify;
    padding-bottom: 10px;
}
.container .con-right .report .report-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #006e97;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
.container .con-right .report p {
    font-size: 14px;
    padding: 0 5px;
}
.container .con-title {
    height: 44px;
    width: 100%;
    line-height: 44px;
    font-size: 19px;
    font-weight: bold;
    /*text-indent: 12px;*/
    border-bottom: 2px solid #dcdcdc;
}
.container .con-title span {
    padding: 0 12px;
    height: 44px;
    border-bottom: 2px solid #c81922;
    display: inline-block;
}
