.map-toolbar {
    height: 22px;
    line-height: 22px;
}

#map-container {
    margin-top: 10px;
    height: 300px;
    border: solid 1px #CCC;
}

#map-city-list {
    margin-top: 10px;
    position: absolute;
    z-index: 99999;
    border: solid 1px #CCC;
    background: #FFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

#map-search {
    width: 350px;
    *width: 358px;
    float: right;
    text-align: left;
    position: relative;
}
#map-search-input {
    float: left;
    margin-right: 5px;
    width: 297px;
}
#map-search-submit {
    float: left;
    margin-right: 0;
}

#map-search-loading {
    position: absolute;
    left: 285px;
    top: 3px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(loading.gif) no-repeat center center;
}

#map-search-result {
    position: absolute;
    z-index: 99999;
    background: #FFFFFF;
    border: 1px solid #999999;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    text-align: center;
}
#map-search-result ul {

}
#map-search-result li {
    text-align: left;
    height: 22px;
    line-height: 22px;
    padding: 0 4px;
    background: #FFF;
    cursor: default;
}
#map-search-result li.odd {
    background: #D2E9FA;
}