<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <title>详情</title>
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/legal/style/normalize.css">
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/legal/style/newcommon.css">
    <link rel="stylesheet" href="{IMG_URL}templates/{TEMPLATE}/legal/style/law.css">
</head>
<body class="f16">
    <div class="index-header">
        <div class="w1000">
            <!--导航-->
            <div class="nav">
                <a class="f0 f-l" href="" target="_self"><img src="{IMG_URL}templates/{TEMPLATE}/legal/images/logo.png" alt=""></a>
                <div class="f-r">
                    <ul class="f18 f-l">
                        <li class="f-l"><a href="" target="_self">资讯</a></li>
                        <li class="f-l"><a href="" target="_self">智讯</a></li>
                        <li class="f-l">
                            <a href="javascript:;" target="_self">报告<i class="f-r icon"></i><i class="clear"></i></a>
                            <dl>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a class="noborder" href="" target="_self">国别报告</a></dd>
                            </dl>
                        </li>
                        <li class="f-l"><a href="" target="_self">项目</a></li>
                        <li class="f-l"><a href="" target="_self">案例</a></li>
                        <li class="f-l">
                            <a href="javascript:;" target="_self">咨询<i class="f-r icon"></i><i class="clear"></i></a>
                            <dl>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a href="" target="_self">国别报告</a></dd>
                                <dd><a class="noborder" href="" target="_self">国别报告</a></dd>
                            </dl>
                        </li>
                        <li class="f-l"><a href="" target="_self">数据</a></li>
                        <li class="f-l"><a href="" target="_self">征信</a></li>
                        <li class="clear"></li>
                    </ul>
                    <div class="user f-l">
                        <a class="tit" href="javascript:;" target="_self">
                            <img src="{IMG_URL}templates/{TEMPLATE}/legal/images/index-user.jpg" alt="">
                        </a>
                        <i class="f-r icon"></i><i class="clear"></i>
                        <dl>
                            <dd><a href="" target="_self">用户中心</a></dd>
                            <dd><a href="" target="_self">用户中心</a></dd>
                            <dd><a href="" target="_self">用户中心</a></dd>
                            <dd><a class="noborder" href="" target="_self">用户中心</a></dd>
                        </dl>
                    </div>
                    <i class="clear"></i>
                </div>
                <i class="clear"></i>
            </div>
            <!--搜索-->
            <div class="search-input">
                <form action="" method="get">
                    <div class="input f-l">
                    <span class="history f-l">
                        <i class="icon"></i>
                        <i class="icon2"></i>
                    </span>
                        <input name="wd" class="f-l" type="text">
                        <span class="history f-l">
                        <i class="icon3"></i>
                        <span class="txt">高级</span>
                    </span>
                        <i class="clear"></i>
                    </div>
                    <div class="submit f-l">
                        <input type="submit" value="搜 索">
                    </div>
                    <i class="clear"></i>
                </form>
                <ul class="history-list">
                    <li>我是历史记录啊</li>
                    <li>我是历史记录啊</li>
                    <li>我是历史记录啊</li>
                </ul>
                <ul class="category-list f14">
                    <li class="f-l"><label><input type="checkbox" class="input-hide"><i class="icon"></i>分类1</label></li>
                    <li class="f-l"><label><input type="checkbox" class="input-hide"><i class="icon"></i>分类2</label></li>
                    <li class="f-l"><label><input type="checkbox" class="input-hide"><i class="icon"></i>分类3</label></li>
                    <li class="clear"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="law-detail-container">
        <div class="w1000">
            <div class="detailcon">
                <h1>境外金融机构管理办法</h1>
                <div class="data">
                    <div class="f-l">状态：有效</div>
                    <div class="f-r">
                        生效日期：1990/09/01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;失效日期：1990/09/01
                    </div>
                    <i class="clear"></i>
                </div>
                <p class="dec">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                <div class="opt"><a class="f-r" href="" target="_self"><i class="icon"></i>下载</a><i class="clear"></i></div>
                <div class="detail">
                    我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈我是啊哈哈哈
                </div>
            </div>
        </div>
    </div>
    <div class="index-footer f14">
        <div class="w1000">
            <p class="link">
                <a href="" target="_self">关于我们</a>
                <a href="" target="_self">产品介绍</a>
                <a href="" target="_self">本站公告</a>
                <a href="" target="_self">联系我们</a>
                <a href="" target="_self">合作伙伴</a>
                <a class="nomargin" href="" target="_self">免责申明</a>
            </p>
            <p class="copyright">新华社主办 版权所有：新华社中国经济信息社 Copyright © 2000-2015 silkroad.news.cn All Rights Reserved.</p>
            <p>新华网 京ICP证010042号</p>
        </div>
    </div>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/legal/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/legal/js/newcommon.js"></script>
    <script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/legal/js/law.js"></script>
</body>
</html>