<style type="text/css">
	.flinks {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.flinks a {
    color: #047fcc;
    margin: 0 10px;
    text-decoration: none;
}
</style>
<div class="n_ind_cpy">
	<div class="box1000">                                   
  <div class="flinks"><a href="{WWW_URL}about">关于我们</a><a href="{WWW_URL}about/produce.shtml">产品介绍</a><a href="{table('category',141,'url')}">本站公告</a><a href="{WWW_URL}about/contact.shtml">联系我们</a><a href="{WWW_URL}about/partner.shtml">合作伙伴</a><a href="{WWW_URL}about/copyright.shtml">免责声明</a></div>
  <span>新华社主办</span> 版权所有：<span>新华社中国经济信息社</span> Copyright © 2000-2015 silkroad.news.cn All Rights Reserved.<br>
	<span>新华网</span> 京ICP证010042号 
	</div>
</div>
<!--by 123-->
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/lib/echarts.min.js"></script>
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/newcommon.js"></script>
